<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"
	media="screen" />

<link rel="stylesheet" th:href="@{/w3css/4/w3.css}"
	href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet"
	th:href="@{/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
<script
	th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>


</head>
<!-- Footer -->
<footer class="page-footer font-small blue pt-2">

	<!-- Footer Links -->
	<div class="container-fluid text-center text-md-left"
		style="height: 20px; background-color: green;">

		<!-- Grid row -->
		<div class="row">


			<!-- Grid column -->

			<hr class="clearfix w-50 d-md-none pb-3">


			<!-- Grid column -->


			<!-- Grid column -->

		</div>
		<!-- Grid row -->

	</div>
	<!-- Footer Links -->

</footer>
<!-- Footer -->
</html>