<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Update Form</title>
<th:block th:include="layout/header"></th:block>

</head>





<body style="background-color: #DADBDB">


	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<form th:action="@{/new/password}" th:object="${userDTO}"
					method="post" class="form-horizontal" role="form">
					<h2>Update Password</h2>
					<br />

					<div class="form-group">
						<div class="form-group">
							<div class="col-sm-12">
								<input type="text" th:field="*{password}"
									placeholder="Current password" required="required"
									class="form-control" /><span class="text-warning"
									th:utext="${wrongPass}"></span>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<input type="text" th:field="*{newPass}" id="password"
									placeholder="New password" required="required"
									class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<input type="text" th:field="*{confirmPass}"
									name="confirm_password" id="confirm_password"
									placeholder="Confirm password" required="required"
									class="form-control" /> <span class="text-warning"
									th:utext="${passMatched}"></span>
							</div>
						</div>



						<div class="form-group">
							<div class="col-sm-12">
								<button type="submit" class="btn btn-primary btn-block">Registration</button>
							</div>
						</div>
					</div>


				</form>
			</div>
		</div>
	</div>

</body>
</html>